@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Volkhov";
  src: url("../public/assets/fonts/Volkhov/Volkhov-Bold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Volkhov";
  src: url("../public/assets/fonts/Volkhov/Volkhov-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

.Carousel__RailWrapper-sc-hyhecw-1 {
  margin: 0 0px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.rdrDays {
  width: 100%;
}

.rdrMonth {
  min-width: 100%;
}

.rdrMonthAndYearWrapper {
  padding: 0 30px;
}

.rdrDays {
  min-height: 600px;
  /* min-height: fit-content !important; */
}

.rdrWeekDays {
  margin-bottom: 30px;
}

.rdrDayToday .rdrDayNumber span:after {
  content: none !important;
  padding: 0 !important;
  width: auto;
  height: fit-content;
}

.rdrDayNumber {
  min-height: fit-content !important;
  min-height: 100% !important;
}

.rdrDay {
  min-height: 100px;
}
